/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    background-color: rgb(251, 249, 247); /* Background color for the entire page */
  }
    /* Center image */
    .image-container {
    width: 56%;
    margin: 0 auto; /* Centers the container */
    text-align: center; /* Centers the image within the container */
  }

  /* Set max width for the image */
  .image-container img {
    max-width: 100%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
  }

  /* Caption style */
  .caption {
    text-align: left;
    font-style: normal;
    font-size: 0.9em;
    color: #210202;
  }

  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

  /* Header styles */
  header {
    text-align: center;
  }
  
  .logo {
    width: 6vw; /* Adjust width as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the logo */
  }


  /* Media query for mobile screens */
  @media screen and (max-width: 600px) {

    .logo {
      width: 20vw; /* Adjust width as needed for smaller screens */
    }
     /* Center image */
     .image-container {
      width: 90%;
      margin: 0 auto; /* Centers the container */
      text-align: center; /* Centers the image within the container */
    }
  
    /* Set max width for the image */
    .image-container img {
      max-width: 100%; /* Set maximum width to 100% of the container */
      height: auto; /* Maintain aspect ratio */
    }
  
    /* Caption style */
    .caption {
      text-align: center;
      font-style: normal;
      font-size: 12px;
      color: #210202;
      line-height: 2;
    }
  
    a {
      text-decoration: none; /* Remove underline */
      color: inherit; /* Inherit color from parent */
    }
  }
  
  