/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
  }
  
  body {
    background-color: rgb(255, 255, 255); /* Background color for the entire page */
  }
    /* Center image */
    .image-container {
    width: 56%;
    margin: 0 auto; /* Centers the container */
    text-align: center; /* Centers the image within the container */
  }

  /* Set max width for the image */
  .image-container img {
    max-width: 100%; /* Set maximum width to 100% of the container */
    height: auto; /* Maintain aspect ratio */
  }

  .tidycal-wrapper {
    width: 100%;
    max-width: 80%;
    height: 600px; /* Adjust this height as needed */
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    margin: 0 auto;
    border: none;
  }

  .tidycal-embed {
    height: 1000px; /* Load more than needed so we can crop */
    transform: translateY(-50px); /* Shift up to hide footer */
  }

  /* Caption style */
  .caption {
    text-align: left;
    font-style: normal;
    color: #210202;
  }

  .caption-container {
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      font-size: 0.9em;
    }

.text-container {
  margin-top: -95px;
  text-align: right;
  font-style: normal;
  font-size: 0.9em;
  color: #210202;
}

  a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
  }

  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

  /* Header styles */
  header {
    text-align: center;
  }
  
  .logo {
    width: 6vw; /* Adjust width as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the logo */
  }


  /* Media query for mobile screens */
  @media screen and (max-width: 600px) {

    .logo {
      width: 20vw; /* Adjust width as needed for smaller screens */
    }
     /* Center image */
     .image-container {
      width: 90%;
      margin: 0 auto; /* Centers the container */
      text-align: center; /* Centers the image within the container */
    }
  
    /* Set max width for the image */
    .image-container img {
      max-width: 100%; /* Set maximum width to 100% of the container */
      height: auto; /* Maintain aspect ratio */
    }
  
    /* Caption style */
    .caption {
      text-align: center;
      font-style: normal;
      font-size: 12px;
      color: #210202;
      line-height: 2;
    }
  
    a {
      text-decoration: none; /* Remove underline */
      color: inherit; /* Inherit color from parent */
    }

    .text-container {
      margin-top: 40px;
      text-align: center;
      font-style: normal;
      font-size: 12px;
      color: #210202;
      line-height: 2;
    }

   .tidycal-wrapper {
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin: 0 auto;
    border: none;
  }

    .tidycal-wrapper {
      height: auto;
      overflow: auto;
    }

    .tidycal-embed {
      transform: none;
      height: auto;
    }
  }

